@{
    ViewData["Title"] = "Acceso Denegado";
}
<div class="alert alert-warning mt-5 text-center">
    <h3>No se puede ver el contenido sin iniciar sesión.</h3>
    <a asp-controller="Account" asp-action="Login" class="btn btn-primary mt-3">Iniciar Sesión</a>
</div>
